.action-bar {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  align-self: end;
  justify-self: stretch;
  background-color: rgb(153, 151, 151);

  .pull-bar {
    display: flex;
    justify-content: center;
  }

  .action-area {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 0 10px;

    strong {
      color: rgb(178, 0, 0);
    }

    button {
      background-color: red;
      border: none;
      font-weight: bold;
    }
  }

  .warning-bar {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding-top: 10px;
    align-items: center;

    .confirm-options {
      display: flex;

      button {
        margin: 5px;
      }
    }
  }
}
