<div class="batman-flex">
  <batman-scan
    *ngIf="!scanResult || puzzle"
    class="batman-flex-body"
    (result)="onScanResult($event)"
    [debug]="true"
    >
  </batman-scan>
  <router-outlet
    (activate)="onOutletActivate($event)"
    (deactivate)="onOutletDeactivate()">
  </router-outlet>
</div>
<batman-modal
  *ngIf="puzzle"
  type="question"
  [header]="puzzle.name"
  [image]="puzzle.image"
  [text]="puzzle.instructions"
  acceptButton="Entrar"
  rejectButton="Cancelar"
  (accept)="onAcceptRoom()"
  (reject)="onRejectRoom()">
</batman-modal>
