<div
  class="batmongus-lost"
  [style.opacity]="lost ? 1 : 0"
  [style.backgroundColor]="(lostCounter % 2) ? 'transparent' : 'red'"
>{{ lostMessage }}</div>

<div *ngIf="!lost" class="batman-grid">

  <batman-scan
    *ngIf="!scanResult || roomPreview"
    class="batman-grid-body"
    (result)="onScanResult($event)"
    [debug]="!isProduction"
    >
  </batman-scan>

  <router-outlet
    (activate)="onOutletActivate($event)"
    (deactivate)="onOutletDeactivate()">
  </router-outlet>

  <div *ngIf="!scanResult || roomPreview"
    class="batman-grid-footer action-bar">
    <div class="pull-bar" (click)="toggleActionBar()">
      ≡
    </div>

    <div *ngIf="showModal" class="action-area">
      <span>Você é um <strong>impostor</strong>!</span>
      <button (click)="toggleSurrenderModal()">Me entregar</button>
    </div>

    <div *ngIf="confirmSurrender" class="warning-bar">
      <div>
        Tem certeza que deseja se entregar? <br />
        Você não poderá voltar para o jogo.
      </div>
      <div class="confirm-options">
        <button (click)="chooseSurrender()">Desistir</button>
        <button (click)="chooseNotSurrender()">Cancelar</button>
      </div>
    </div>
  </div>

  <div
    *ngIf="scanResult && !roomPreview"
    class="batman-grid-footer action-bar kill-bar"
    (click)="onKillClick()">
  </div>
</div>
<batman-modal
  *ngIf="!lost && roomPreview"
  type="question"
  [header]="roomPreview.name"
  [image]="roomPreview.image"
  [text]="roomPreview.instructions"
  acceptButton="Entrar"
  rejectButton="Cancelar"
  (accept)="onAcceptRoom()"
  (reject)="onRejectRoom()">
</batman-modal>
