@font-face {
  font-family: riddler;
  src: url(assets/fonts/riddler.ttf) format("truetype");
}

html, body, app-root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: riddler;
  color: white;
  overflow: hidden;
}

.batman-flex {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .batman-flex-body {
    z-index: 1;
    max-height: 100vh;
    max-width: 100vw;
  }
}
